:root{
	--color-light: #f8f2ea;
	--color-dark: #fff2e1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	background: linear-gradient(
		to top right, 
		var(--color-dark),
		var(--color-light));
	display: flex;
	font-family: Helvatica, sans-serif;
	font-size: 24px;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.main-container{
	margin: 20px auto 0;
	width: 865px;
	height: 475px;
	justify-content: center;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
}

.login-container{
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	background-color: #F8F8FF;
	font-style: italic;
}

.login-label{
	text-align: center;
}

.login-dataFields{
	font-size:13px;
	margin-left: 10px;
	width: 90%;
}

.image{
	overflow: hidden;
	height: 475px;
}

.image img {
	object-fit: cover;
}

.checkboxPandas{
	width:auto;
	margin-left: 5px;
}

.socialNetworkButtons{
	padding: 0.375rem 0.75rem;
	cursor: pointer;
	line-height: 24px;
	font-size: 15px;
	margin: 10px 0;
    text-align: left;
	margin-bottom: 10px;
}

.facebookButton{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}

.googleButton{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}

input,
button{
	border: none;
	border-radius: 18px;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	padding: 12px 24px;
	transition: box-shadow 0.3s, outline 0.3s;

}

input{
	width: 100%;
}

label{
	font-style: italic;
	cursor: text;
	left: 24px;
	top: 50%; 
	transform: translateY(-50%);
	transition: left 0.3s, opacity 0.3s;
}

.form__label{
	display: inline-block;
}

input:hover,
button:hover {
	box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.5);
}

input:focus {
	outline: solid 3px rgba(255, 255, 255, 0.8);
}

button:focus {
	outline: solid 3px #00e691;
}

button{
	cursor: pointer;
	margin-top: 20px;
	background-color: #04AA6D;
	color: #FFFF;
}