:root{
	--color-dark: #361999;
	--color-light: #78fff1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	align-items: center;
	background: linear-gradient(
		to top right, 
		var(--color-dark),
		var(--color-light));
	display: flex;
	font-family: Helvatica, sans-serif;
	font-size: 24px;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

td, td{
    border: none;
    height: 30px;
    padding: 2px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr{
    border-bottom: 1px solid #cbcbcb;
    
}

thead{
    width: 400px;
}

.form_highlited:hover{
    background: #E9E9E9;
}

th{
    font-size: 19px;
    color: #6b8e23;
}

.TODOcontainer{
	align-items: baseline;
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.35)
	);
	border-radius: 15px;
	margin-bottom: 5%;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	width: 60%;
	padding: 20px 24px;
	padding-bottom: 20%;
	text-align: center;
}

.form__input-container{
	position: relative;
    width: 1000px;
	margin-bottom: 32px;
}

.form_addButton{
    position: absolute;
}

.task{
    text-align: left;
    width: 100%;
}

.delete{
    text-align: center;
    width: 10%;
}

.delete a{
    color: white;
    background: red;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}

.taskID{
    width: 10%;
}

input,
button{
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.2)
	);
	border: none;
	border-radius: 18px;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	color: rgb(255, 255, 255);
	font-size: 24px;
	padding: 12px 24px;
	transition: box-shadow 0.3s, outline 0.3s;
}

label{
	color: rgb(255, 255, 255);
	font-style: italic;
	cursor: text;
	left: 24px;
	opacity: 1;
	position: absolute;
	top: 35%;
	transform: translateY(-50%);
	transition: left 0.3s, opacity 0.3s;
	opacity: 0.4;
}

p{
    color: red;
}

input:not(:placeholder-shown) + label,
input:focus + label{
	left: 200px;
	opacity: 0;
}